ログインしたトップページ

<form action="select" method="post">
<p><br>
<input type="radio" name="already" value="1" checked> まだの人のみ
<input type="radio" name="already" value="0"> 全員
</p>
<input class="btn-login" type="submit" value="抽選開始"/>
<input type="hidden" name="_token" value="{{ csrf_token() }}">
</form>
<ul>
{% set name = [] %}

{# 抽選した人の名前やスピーチ情報などを変数に格納している。 #}
{% for item in users %}
    {% set name = item %}
{% endfor %}

{% set id = name.id %}
{% set who = name.name %}
{% set end = name.end %}
{% set cancel = 0 %}
</ul>
 {% set message = "スピーチする" %}

{# 「スピーチする」が押された後の処理。キャンセルできるようにするため、必要な情報を変数に格納している。 #}
{% if session( 'statusname' ) is not null %}
    {% set message = "キャンセル" %}
    {% set nowspeech = "スピーチ中!" %}
    {% set id = session( 'statusid' ) %}
    {% set who = session( 'statusname' ) %}
    {% set cancel = 1 %}
{% endif %}
{{ nowspeech }}
{{ who }}
<br/>

{% if end is not null  %}
    {{ '現在' ~ end ~ "回" }}
{% endif %}

<form action="update" method="post">
<input class="btn-login" type="submit" value= {{ message }} /></a>
<input type="hidden" name="cancel" value="{{ cancel }}">
<input type="hidden" name="memberId" value="{{ id }}">
<input type="hidden" name="membername" value="{{ who }}">
<input type="hidden" name="_token" value="{{ csrf_token() }}">
</form>

<form action="/" method="post">
 <input class="btn-login" name= "logout" type="submit" value="ログアウト"/>
<input type="hidden" name="_token" value="{{ csrf_token() }}">
</form>
