ログインしたトップページ

<form action="" method="post">
<input class="btn-login" type="submit" value="社員情報取得"/></a>
<input type="hidden" name="_token" value="{{ csrf_token() }}">
</form>
<ul>
{% set name = [] %}
{% for item in users %}
{% set name = item %}
{{ name.name }}
{% endfor %}
</ul>
{{ name.id }}
<form action="update" method="post">
<input class="btn-login" type="submit" value="社員情報更新"/></a>
<input type="hidden" name="memberId" value="{{ name.id }}">
<input type="hidden" name="_token" value="{{ csrf_token() }}">
</form>
